*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --branco: #fff;
    --cinza-claro: #ddd;
    --preto: #000;
    --verde-claro: #0a0;
    --verde-escuro: #080;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
/* CONFIGURAÇÃO DE CORES */
.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--verde-escuro) !important;
    --bs-btn-border-color: var(--verde-escuro) !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--verde-claro) !important;
    --bs-btn-hover-border-color: var(--verde-claro) !important;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--verde-claro) !important;
    --bs-btn-active-border-color: var(--verde-claro) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}
.recado-green{
    background-color: var(--verde-escuro) !important;
}
/* PAGINA INICIAL */
.nav-link:focus, .nav-link:hover {
    color: var(--verde-escuro) !important;
}
#recados-perfil a:hover{
    background-color: var(--cinza-claro);
}
.card-horarios{
    width: 40vw;
    margin: auto;
    background-color: var(--branco);
}
.titulo-materia{
    height: 60px;
    width: 100%;
    background-color: var(--verde-claro);
}
.card-margin{
    margin-bottom: 50px;
}
.margin-top{
    margin-top: 50px;
}
.icon-profile-card{
    height: 120px;
}
.visualizar-card{
    margin-bottom: 20px;
}
#menu-materia{
    width: 300px;
    background-color: var(--branco);
    position: fixed;
    margin-top: 50px;
    left: 0;
}
#menu-materia h4{
    text-indent: 10px;
}
#menu-materia a{
    padding: 5px;
    width: 100%;
    display: block;
    text-indent: 30px;
}
#menu-materia a:hover{
    background-color: var(--cinza-claro);
}

/* PAGINA PARA A ETEP VISUALIZAR OS TUTORES */
.table-green{
    color: var(--branco);
    background-color: var(--verde-escuro);
}
.table-tutores td, th{
   padding: 10px !important;
}
.card-tutor-grande{
    display: none !important;
}
.card-tutor-grande.visivel{
    display: block !important;
}
.card-tutor-pequeno{
    display: block;
}
.card-tutor-pequeno.invisivel{
    display: none;
}
.card-tutor-grande h6{
    margin-bottom: 30px;
}

/* PÁGINA DE RECADOS */
.card-recado{
    text-align: justify;
}

/* TABELAS */
.tables{
    margin-bottom: 100px;
}
.tables td, .tables th{
    border-bottom: 1px solid var(--preto);
}
   
/* CLASSES PARA O BOTÃO DE EDITAR SENHA */
.btn-invisivel{
    display: none !important;
}
.btn-visivel{
    display: block;
}